@{
    ViewBag.Title = "Index";
}

<div id="content" class="align-center"  style="min-height: 84px;">
    @Html.Partial("~/Views/Login/_SignIn.cshtml")
</div>

@Html.Partial("~/Views/Login/_RegisterUser.cshtml")

